slurm:
  MungeKey64: |
    MqHMmV2yuM9OsCBs68jHY67TH+yaRwTTO5XKgWMPfSZY5r8arFw7MLihV8UygWVXUGJITIZZsWtk
    sIrTxbgq/uQMleoUuJe9D2mKhKZdApS5YcnXC9hzrLNmQnHlkIUPQzXSdPABOtuUZmcOyiw4ZAkm
    6/RyW+Awx5z48eo/fn1SVt5FLzzU2s/adP1xabHlW/hn8IEsHONnYRbIbBNPLCzLVZS/sKTw7Uk0
    C8uDwz1KEqOjb3ZDizDY4TfVtuV/r9TgLUJ9x51M8ikzLm91SR8ghKmArqKSvUs4RXSJdANiKY5c
  ClusterName: "clustername"
  ControlMachine: '<Master slurm server>'
  ControlAddr: <ip slurm server>
  BackupController: '<slave slurm server>'
  BackupAddr: <ip slurm server>
  CheckpointType: 'blcr'
  AuthType: 'munge'
  CryptoType: 'munge'
  AccountingStorageType: slurmdbd
  TaskPlugin: 'cgroup'
  SlurmctldLogFile: '/var/log/slurm/slurmctld.log'
  AccountingStorageType: filetxt
  AccountingStorageHost: db.example.com
  AccountingStoragePass: /var/run/munge/munge.socket.2
  AccountingStorageUser: mysql
  AccountingStoragePort: 1234
  AccountingStorageLoc: /var/log/slurm
  SlurmDBStorageType: 'database type'
  PropagateResourceLimitsExcept: 'MEMLOCK'
  JobCompLoc: /var/log/slurm/slurm_jobcomp.log
  PrivateData: "usage"
  MaxArraySize: 100001
  MaxJobCount : 5000001
  PriorityType: 'multifactor'
  ProctrackType: 'cgroup'
  MailProg: '/bin/mail'
  AcctGatherEnergyType: 'ipmi'
  Frontends:
    frontend01:
      State: UNKNOWN
      AllowGroups: group alowed
      AllowUsers: <users alowed>
  nodes:
    clnode001:
      CPUS: 16
      RealMemory: 32
      Sockets: 2
      CoresPerSocket: 8
      ThreadsPerCore: 2
      State: UNKNOWN
      TmpDisk: 500000
      Feature: HyperThread
    clnode002:
      CPUS: 32
      RealMemory: 128
      Sockets: 2
      CoresPerSocket: 8
      ThreadsPerCore: 2
      State: UNKNOWN
      TmpDisk: 500000
      Feature: HyperThread
  partitions:
    fast:
      MaxTime: 01:00:00
      Default: 'No'
      State: UP
      Shared: 'YES'
      nodes:
        -clnode001
        -clnode002
    short:
      MaxTime: 06:00:00
      Default: 'yes'
      State: UP
      Shared: 'YES'
      nodes:
        - clnode001
    medium:
      MaxTime: 02-00:00:00
      Default: 'No'
      State: UP
      Shared: 'YES'
      nodes:
        - clnode002
	
slurmdbd:
  Authtype: munge
  StorageType: mysql
  StorageUser: slurm
  StoragePass: sASDfDasdf
  DbdHost: mysql.example.com
