{% set slurm = salt['grains.filter_by'](
  {
  'RedHat': {
        'use_cgroup': False,
        'server': 'slurmctld',
        'server_bin': '/usr/sbin/slurmctld',
        'scontrol': '/usr/bin/scontrol',
        'slurmd': 'slurmd',
        'slurmd_bin': '/usr/sbin/slurmd',
        'config': '/etc/slurm/slurm.conf',	
        'env': '/etc/default/slurmd',
	'plugindir': '/usr/lib64/slurm',
	'logdir': '/var/log/slurm',
	'rundir': '/var/run',
	'slurmddir': '/var/spool/slurm/d',
	'slurmctlddir': '/var/spool/slurm/ctld',
	'slurmd': 'slurmd',
	'slurmctld': 'slurmctld',
	'slurmdbd': 'slurmdbd',
	'mail': '/bin/mail',
        'client_pkgs': ['slurm', 'slurm-plugins'],
        'munge_pkgs':['slurm-munge', 'munge'],
        'node_pkgs' : [],
	'server_pkgs': [],
        'db_pkgs': ['slurm-slurmdbd', ],
        'pam_pkgs':['slurm-pam_slurm'],
        'devel_pkgs': ['slurm-devel'],
        'sql_pkgs': ['slurm-sql'],

        },
  'Debian': {
        'use_cgroup': True,
        'server': 'slurmctld',
        'server_bin': '/usr/sbin/slurmctld',
        'scontrol': '/usr/bin/scontrol',
        'slurmd': 'slurmd',
        'slurmd_bin': '/usr/sbin/slurmd',
	'etcdir': '/etc/slurm-llnl',
        'config': '/etc/slurm/slurm.conf',
        'env': '/etc/default/slurmd',
	'plugindir': '/usr/lib/x86_64-linux-gnu/slurm',
	'logdir': '/var/log/slurm-llnl',
	'rundir': '/var/run/slurm-llnl',
	'slurmddir': '/var/lib/slurm-llnl/slurmd',
	'slurmctlddir': '/var/lib/slurm-llnl/slurmctld',
	'slurmd': 'slurmd',
	'slurmctld': 'slurmctld',
	'slurmdbd': 'slurmdbd',
	'mail': '/usr/bin/mail',
        'client_pkgs':['slurm-client','slurm-wlm-doc', 'slurm-wlm-basic-plugins'],
        'munge_pkgs':['munge'],
	'node_pkgs':['slurmd'],
	'server_pkgs': ['slurmctld'],
	'db_pkgs: ['slurmdbd'],
	'pam_pkgs': ['slurm-pam_slurm'],
        'devel_pkgs: ['libslurm-dev', 'libslurm-perl'],
	'db_devel_pkgs': ['libslurmdb-dev', 'libslurmdb-perl'],
        },
  
  },merge=salt['pillar.get']('slurm:lookup'))

%}

