{% set slurm = salt['grains.filter_by'](
  {
  'RedHat': {
        'server': 'slurmctld',
        'server_bin': '/usr/sbin/slurmctld',
        'scontrol': '/usr/bin/scontrol',
        'slurmd': 'slurmd',
        'slurmd_bin': '/usr/sbin/slurmd',
        'config': '/etc/slurm/slurm.conf',	
        'env': '/etc/default/slurmd',
	'plugindir': '/usr/lib64/slurm',
        'pkgSlurm':'slurm',
        'pkgSlurmMuge':'slurm-munge',
        'pkgSlurmPlugins':'slurm-plugins',
        'pkgSlurmPam':'slurm-pam_slurm',
        'pkgSlurmDevel':'slurm-devel',
        'pkgSlurmDBD': 'slurm-slurmdbd',
        'pkgSlurmSQL': 'slurm-sql',
        'pkgMunge':'munge',
        'pkgMysqlSever':'mariadb-server',
        'srvMysqlSever':'mariadb',
        'pkgMySQLpython':'MySQL-python',

        },
  'Debian': {
        'server': 'slurmctld',
        'server_bin': '/usr/sbin/slurmctld',
        'scontrol': '/usr/bin/scontrol',
        'slurmd': 'slurmd',
        'slurmd_bin': '/usr/sbin/slurmd',
	'etcdir': '/etc/slurm-llnl',
        'config': '/etc/slurm/slurm.conf',
        'env': '/etc/default/slurmd',
	'plugindir': '/usr/lib/x86_64-linux-gnu/slurm',
        'pkgSlurm':'slurm-client',
	'pkgSlurmNode':'slurmd',
        'pkgSlurmMuge':'munge',
        'pkgSlurmPlugins':'slurm-wlm-basic-plugins',
        'pkgSlurmPam':'slurm-pam_slurm',
        'pkgSlurmDevel':'slurm-devel',
        'pkgSlurmDBD': 'slurm-slurmdbd',
        'pkgSlurmSQL': 'slurm-sql',
        'pkgMunge':'munge',
        'pkgMysqlSever':'mariadb-server',
        'srvMysqlSever':'mariadb',
        'pkgMySQLpython':'MySQL-python',

        },
  
  },merge=salt['pillar.get']('slurm:lookup'))

%}

